-e git+git@github.com:archiviofontiorali/afor-ocr.git@f05318972094c19e16fa7b825c4bb08dafe44f83#egg=afor_ocr
appdirs==1.4.4
attrs==20.3.0
black==20.8b1
bokeh==2.2.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorcet==2.0.2
flake8==3.8.4
holoviews==1.14.0
idna==2.10
imutils==0.5.3
iniconfig==1.1.1
isort==5.6.4
Jinja2==2.11.2
loguru==0.5.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.19.4
opencv-python-headless==4.4.0.46
packaging==20.8
pandas==1.1.5
panel==0.10.2
param==1.10.0
pathspec==0.8.1
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyct==0.4.8
pyflakes==2.2.0
pyparsing==2.4.7
pytesseract==0.3.7
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.4
pyviz-comms==0.7.6
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
toml==0.10.2
tornado==6.1
tqdm==4.54.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
